@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');

.dropdown_wrapper {
    position: absolute;
    /* background: red; */
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
}

.dropdown_menu {
    width: 150px;
    border-radius: 10px;
    color: #000;
    position: absolute;
    top: 64px;
    right: 23px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    font-size: .82rem;
    justify-content: center;
    background-color: #fffbfb;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 2px 6px 2px rgba(60,64,67,.15);
}

.dropdown_items {
    padding: 15px 30px;
    list-style-type: none;
    color: #0d6efd;
    cursor: pointer;
    font-weight: 700;
    font-family: Roboto, sans-serif;
    line-height: 19.5px;
}

.dropdown_items:hover {
    background-color: #d0e7ff;
    transition: background-color 0.38s ease-in;
}

.dropdown_links {
    text-decoration: none;
    cursor: pointer;
}

.line {
    border: 0;
    border-bottom: 1px solid;
    margin: auto;
    opacity: 0.25;
    color: inherit;
    width: 90%;
    padding: 0;
}

.signout_button {
    font-size: 0.82rem;
    height: 0;
    line-height: 19.5px;
    padding-inline-start: 0;
    padding-inline-end: 0;
}


@media (max-width: 970px) {
    .dropdown_menu {
        top: 60px;
    }
}