.navbar {
    position: sticky;
    top: 0;
    width:100%;
    z-index:1;
}

.navbar_menu {
    color: white;
    background: var(--primary-color);
    display: flex;
    padding: 20px;
    margin: 0;
    gap: 3.4rem;
    align-items: center;
    padding-left: 40px;
}

.navlinks {
    font-weight: 700;
    font-size: 1rem;
}

.navlinks:hover {
    color: #49a82e;
}

