.memberContribution_wrapper {
   position: relative;
   text-align: left;
   width: 100%;
}

.memberContribution_taskHeading {
   color: #041187;
   font-size: 1.4rem;
   font-weight: 400;
}

.memberContribution_link:hover {
   color: #625f5f;
   /* please don't use/remove important if you dont know why it is added */
   /* added to remove the text-decoration of chakra which cannot be overidden by normal class */
   text-decoration: none !important;
   transition: color 0.2s ease-in-out;
}
