.memberProfile_name {
  margin-left: 1rem;
  font-size: 28px;
  line-height: 28px;
  font-weight: 400;
  color: #fff;
}

.modalBody_heading {
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 1px;
  text-align: left;
  margin-left: 0.43rem;
}
