:root {
   --border-color: #413f3f;
   --primary-color: #1d1283;
   --dropdown-item: #0d6efd;
   --dropdown-item-hover: #d0e7ff;
   --dropdown-menu-color: #000;
   --dropdown-menu-bg-color: #fffbfb;
}
